

.firstBox{
    background-color: #000;
display: flex;

width: 100%;
height: 300px;
justify-content: flex-end;
align-items: flex-end}

.secondBox{
    background-color: #000;
     padding: 10px;
     
     display: inline;
     
     background-color:  #000;
     font-weight: lighter;
     font-size: 0.7rem;
    
     h3{
         margin: 0;
     }

     a{
         text-decoration: underline;
     }
 
}