

.firstBox{
    background-color: #000;
   display: block;
   float: left;
   width: 100%;
}

.secondBox{
    background-color: #000;
     padding: 10px;
     border-radius: 25px 0 0;
     float: right;
     display: inline;
     border: 1px solid #fff;
     background-color:  #000;
}