.LookArt {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #000;
  transition: all 800ms;
  position: relative;
  width: 100vw;
  height: 100vh;
  align-items: center;
  // overflow-x: hidden;

  // &.moved {
  //   justify-content: start;
  // }



  img {
    max-width: 100%;
    margin: 100px 0;
    max-height: 50vh;
    cursor: pointer;
    margin: 0;
  }

  div.firstLook {
    width: 50%;
    transition: all 800ms;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #000;
    min-width: 100vw;
    left: 0%;
    position: absolute;
    &.firstOpen {
      left: -100%;
    }
  }

  div.secondLook {
    width: 100%;
    min-height: 100%;

    background-color: #fff;
    transition: all 800ms;
    position: absolute;
    left: 110%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    div {
      height: 100%;
      padding: 25px;
      max-height: 80vh;
    }

    .full {

      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: 30%;
      min-width: 50%;
      color: #000;

      p, h1{
        color: #000;
        background-color: #fff;
        padding: 2rem 0 0 2rem;
      }
    }

    &.secondOpen {
      left: 0%;
    }
  }

  @media screen and (min-width: 600px) {
    img {
      
      
      max-height: 80vh;
     
    }
    
    div.secondLook {
      flex-direction: row;
      align-items: center;
    }
  }
}
