.LookArt {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #000;
  transition: all 800ms;
  // overflow-x: hidden;

  //   &.moved {
  //     max-width: 50%;
  //   }

  img {
    max-width: 100%;
    margin: 100px 0;
    max-height: 80vh;
    cursor: pointer;
  }

  div.firstLook {
    width: 50%;
    transition: all 800ms;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #000;
    min-width: 100vw;

    &.secondOpen {
        background-color: #fff;
      min-width: 50vw;
    }
  }

  div.secondLook {
    width: 50%;
    min-height: 100%;

    background-color: #fff;
    transition: all 800ms;
  }
}
